/************************FONT***************************/
@font-face {
  font-family: apollonia;
  src: url(bodoni_72_oldstyle.ttf);
}
/*******************************************************/



body {
    display: inline-block;
}

/* linked elements */
a {
    color: black;
    text-decoration: none;
}


/* title */
header {
    display: inline;
    width: 100px;
}



#cooper {
	background-color: rgba(0,0,0,0.5);
	margin: 30px 0px 0px 0px;
}

h1 {
    font-size: 70px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#musical {
    font-size: 20px;
    display: block;
}

#thestone {
    font-size: 30px;
    color: rgb(159, 19, 19);
    display: block;
}

/* main {
    display: inline-block;
} */


/************************************ANNOUNCEMENT BOARD*******************************/
#announcements {
    overflow: hidden;
    margin: 0px 0px 0px 10px;
    padding: 1.2rem 3rem;
    border: 2px solid rgb(216, 216, 216);
    border-radius: 0.3em;
    border: 1px solid #f1f1f1;
    /*background-color: #ffffff;*/
    background-color: rgb(216,216,216,0.8);
    font-size: 13px;
}

.board {
    overflow: hidden;
    margin: 0px 100px 0px 100px;
    padding: 0rem 1rem;
    border: 0.3px solid #f1f1f1;
    border-radius: 0.3em;
    background-color: rgb(216,216,216,0.3);
   
}

/************************************UPPER BANNER TABS*******************************/ 

body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #5b5b5b;
  background-color: #5b5b5b;
  border-radius: 0.2em;
  margin: 30px 100px 0px 100px;
}

.tablinks {
	color: #ece311;
	font-family: bodoni mt;
	font-size: 25px
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 20px;
  font-size: 20px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
 color:#000;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ece311;
  color: #000000;
}

/* Style the tab content */
.tabcontent {
  display: none;
padding:5px 20px;
  border: 1px solid rgb(216, 216, 216);
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
 background-color: #f3f3f3;
  border-top: none;
  margin: 0px 100px 0px 100px;
}
/*************************************tabcontent******************************/
.request {
	border: 1px solid #5b5b5b;
	padding: 0.3rem 1.5rem;
    	border-radius: 0.5em;
	margin: 5px 10px 0px 10px;
	font-size: 10px;
}

/*************************************RECENT STUFF******************************/
.recent {
	text-align:left;
	margin:30px 100px 0px 100px;
	border: 1px solid rgb(216, 216, 216);
	padding: 0.3rem 1.5rem;
    	border-radius: 0.5em;
    	sdisplay: inline-block;
	
}

.works {
	width: 1000px;
	height: 300px;
	margin:0px 10px 20px 0px;
	padding: 1.5rem 1.5rem;
	background-color: #f3f3f3;
	overflow-x: scroll;
     	white-space:nowrap
}


.works iframe {
}

 
/*************************************SIDEBAR******************************/
#sidebar{
    width: 210px;
    margin: 50px 0px 50px 100px;
    padding: 1.2rem 1.5rem;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 0.5em;
    display: inline-block;
    font-family: '나눔고딕';
}

/* categories */
.category {
    font-size: 16px;
    margin-bottom: 0;
   
}

#sidebar a {
	color: #b5b5b5;
	font-size:12px;
	text-decoration: line-through;
}

/********************************SIDBAR DIRECTS******************************/
/* Style the tab */

/* Style the buttons inside the tab */
#sidebar button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
text-align: left;
text-decoration: none;
color:#000;
}

/* Change background color of buttons on hover */
#sidebar button:sidebar {
  /*background-color: #ddd;*/
}

/* Create an active/current tablink class */
#sidebar button.active {
  font-weight: bold;
font-size: 14px;
}

/* Style the tab content */
.content {
  display: none;
  padding: 6px 12px;
  margin: 0px 50px 10px 50px;
}

/******************************************************************************/

#contentpage {
    width: 50%;
    margin: 30px;
    padding: 4rem;
    padding-top: 0;
    display: inline-block;
    vertical-align: top;
    /* font-family: 'Noto Sans KR', sans-serif; */
    font-family: '나눔고딕';
}

/* Page Title */
#contentpage h2 {
    margin: 3rem;
    text-align: center;
    font-size: 36px;
    font-family: '나눔고딕';
}

/* remove bullet points */
footer ul {
    list-style: none;  
    display: flex;
    justify-content: center;
    margin: 50px;
}

.footer {
    /*color: #51bbbb;*/
     color: #5b5b5b;
    text-decoration: none;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer li {
    display: inline-block;
    margin: 2rem;
}